@mixin enterDesktop {
  @media (min-width: 48rem) {
    @content;
  }
}

@mixin enterLarge{
  @media (min-width: 80.1rem) {
    @content;
  }
}


@mixin enterMobile {
  @media (max-width: 47.9375rem) {
    @content;
  }
}
