@import "./_mixins.scss";
@import "./_variables.scss";
@import "bulma/bulma";


body {
  font-family: $default-font-family;
  font-weight: 500;
}

main {
  background-color: $light-gray;
}

.section {
  background: $scheme-main;
}
